<h1>Recieved Emails</h1>
<ul>
{{#each email in model}}
	<li>{{#link-to 'email' email}}Sender: <strong>{{email.senderName}}</strong>
			Subject: <strong>{{email.senderSubject}}</strong>
	{{/link-to}} </li>
{{/each}}
</ul>
